* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.img_container {
    width: 50%;
    max-width: 708px;
    height: auto;
}

.img_container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
}

.back_btn_container {
    width: 88px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.back_btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #1E1E1E;
    text-decoration: none;
    padding: 5px;
}

.form_container {
    width: 490px;
    height: 1009px;
    margin-left: 2rem;
    border-radius: 4px;
    border: 2px solid #004aad;
    gap: 10px;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.form_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 388px;
    height: 220px;
    gap: 16px;
    margin-top: 2rem;
}

.form_header_h2 {
    font-family: "Inika", serif;
    font-weight: 700;
    font: bold;
    font-size: 48px;
    letter-spacing: 0%;
    line-height: 72%;
    color: #004aad;
}

.form_header_p {
    font-family: "Inter", sans-serif;
    font: bolder;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
    line-height: 36px;
    color: #1E1E1E;
}

.form_header_span {
    font-family: "Inter", sans-serif;
    font: bolder;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
    line-height: 36px;
    color: #004aad;
}

.form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form_input_div {
    width: 410px;
    height: 102px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form_input_label {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #1E1E1E;
}

.form_input {
    width: 410px;
    height: 62px;
    border-radius: 8px;
    border: 1px solid #1E1E1E;
    padding: 16px;
    gap: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #1E1E1E;
    outline: 0px;
}

.form_btn {
    width: 410px;
    height: 68px;
    border-radius: 24px;
    border: 1px;
    padding: 16px;
    outline: 0px;
    gap: 16px;
    background: #004aad;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
}

.line_div {
    width: 410px;
    height: 24px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.line {
    width: 175px;
    border: 1px solid #1E1E1E;
}

.line_span {
    color: #1E1E1E80;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.icon_div {
    width: 220.27px;
    height: 52.99px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_img {
    width: 20.27px;
    height: 20.99px;
}

.icon_link {
    width: 52.27px;
    height: 52.99px;
    border-radius: 100px;
    border: 1px solid #004aad;
    padding: 16px;
    gap: 10px;
}

.form_footer {
    width: 410px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 4px;
    margin-top: 1rem;
}

.form_footer_p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #1E1E1E;
}

.form_footer_link {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #004aad;
    text-decoration: none;
}


#name-error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    font-family: "Inter", sans-serif;
}


#email-error {
    color: red;
    font-size: 14px;
    margin-top: -5xpx;
    font-family: "Inter", sans-serif;
    text-wrap: nowrap;
}

#password-error {
    color: red;
    font-size: 14px;
    margin-top: -5x;
    font-family: "Inter", sans-serif;
}

.error-message {
    color: #ff0000;
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    font-family: "Inter", sans-serif;
    width: 400px;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    top: 15rem;
    left: 15px;
    margin-top: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.error-message.visible {
    opacity: 1;
    transform: translateY(0);
}

.error-message ul {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    list-style-type: none;
}

.error-message li {
    margin-bottom: 2px;
}

.form_input.is-invalid {
    border-color: #ff0000;
    box-shadow: 0 0 0 1px #ff0000;
}

#cpassword-error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
    font-family: "Inter", sans-serif;
}


.password_input_container {
    position: relative;
    width: 100%;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    z-index: 15;
}



/*responsive mobile screens*/

/* 1. Mobile Portrait (max-width 576px) */
@media (max-width: 576px) {

    .container {
        flex-direction: column;
        max-width: 100%;
        padding: 1rem;
        gap: 1rem;
        margin-top: -0.4rem;
    }


    .img_container {
        display: none;
    }


    .content_container {
        width: 100%;
        align-items: center;
    }

    .back_btn_container {
        margin-right: 12rem;
        margin-top: 1rem;
    }


    .back_btn_container {
        position: static;
        margin-bottom: 1rem;
        right: auto;
        top: auto;
    }


    .form_container {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-left: 0;
        padding: 1rem 0;
    }

    .form_input_div,
    .form_input,
    .form_btn,
    .line_div,
    .form_footer {
        width: 90%;
        max-width: 300px;
    }

    .form_main {
        margin-left: 2rem;
        margin-top: -2rem;
    }

    .form_input {
        height: 50px;

        padding: 10px;
    }

    .form_btn {
        width: 200px;
        height: 50px;
        margin-left: 5rem;
        margin-top: 1rem;
    }


    .form_header_h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .form_header_p,
    .form_header_span {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }


    .line_div {
        margin-left: 5rem;
        width: 200px;
        gap: 3px;
    }

    .line {
        width: 35%;
    }


    .icon_div {
        justify-content: center;
        width: 50%;
        margin-right: 3rem;
    }

    .form_footer {
        margin-top: 0.3rem;
    }

    .form_footer_p,
    .form_footer_link {
        font-size: 14px;
    }

    .error-message {
        color: #ff0000;
        display: block;
        margin-top: 5px;
        font-size: 0.85em;
        font-family: "Inter", sans-serif;
        width: 250px;
        background-color: #1E1E1E;
        padding: 10px;
        border-radius: 20px;
    }

}





/* 2. Tablet Portrait / Mobile Landscape (min-width 577px and max-width 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .container {
        flex-direction: column;
        padding: 2rem;
        max-width: 768px;
    }

    .img_container {
        display: block;
        width: 100%;
        max-width: 600px;
    }

    .content_container {
        width: 100%;
        align-items: center;
    }

    .form_container {
        width: 100%;
        max-width: 490px;
        margin: 0;
    }


    .form_input_div,
    .form_input,
    .form_btn,
    .line_div,
    .form_footer {
        width: 410px;
        max-width: 90%;
    }


    .back_btn_container {
        position: static;
        margin-top: 1rem;
    }

    .error-message {
        color: #ff0000;
        display: block;
        margin-top: 5px;
        font-size: 0.85em;
        font-family: "Inter", sans-serif;
        width: 250px;
        background-color: #1E1E1E;
        padding: 10px;
        border-radius: 20px;
    }

}

/* 3. Small Desktop / Large Tablets (min-width 993px) */
@media (min-width: 993px) {


    .container {
        flex-direction: row;
        max-width: 1200px;
        padding: 2rem;
        gap: 2rem;
    }


    .img_container {
        display: block;
        width: 50%;
        max-width: 708px;
    }

    .content_container {
        width: 50%;
        align-items: flex-start;

    }


    .back_btn_container {
        position: absolute;
        top: 40px;
        right: 32rem;

    }


    .form_container {
        width: 490px;
        margin-left: 2rem;
    }

    .form_input_div,
    .form_input,
    .form_btn,
    .line_div,
    .form_footer {
        width: 410px;
        max-width: none;
    }

    .error-message {
        color: #ff0000;
        display: block;
        margin-top: 5px;
        font-size: 0.85em;
        font-family: "Inter", sans-serif;
        width: 250px;
        background-color: #1E1E1E;
        padding: 10px;
        border-radius: 20px;
    }

}